
/* CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* CSS RESET*/



/*---------PRIMA SEZIONE----------
----------------------------------*/
header .topbar{
    background-color: #255ee9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.box{
    background-color: #255ee9;
    width: 1250px;
    height: 50px;
    margin-top: 20px ;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

/* 
.flex-item{
    border: dashed black;
    text-align: center;
    padding-top: 15px;
    height: 50px;
} */

.flex-item.right{
    text-align: start;
    padding-top: 6px;
    padding-left: 5px;
    width: 20%;   
}  
.flex-item.left{
    color: black;
    text-align: end;
    padding-right: 25px;
    width: 20%;   
}  

.flex-item.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-top: 13px;   
}
.link{ 
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    text-decoration: none;
}
.link.button{
    color: black;
    background-color: white;
    height: 35px;
    width: 70px;
    padding-bottom: 6px;
    padding-right: 70px;
    padding-left: 23px;
    border-radius: 45px;

    display: inline-block;

}
   
   
.jumbotron{
    background-color: #255ee9 ;
    display: flex;
    justify-content: center;
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bigger-box{
    padding-top: 100px;
    width: 700px;
    height: 537px;
     
}


h2{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}
p{
    color: aliceblue;
    text-align: center;
    padding: 50px 0;
    font-size: 24px;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.button{
    width: 175px;
    height: 40px;
    background-color: aliceblue;
    color: #23272a;
    display: inline-block;
    border-radius: 45px;
    line-height: 2.5;
    text-align: center;
}


.button.black{
    width: 231px;
    height: 42px;
    background-color: black;
    color: aliceblue;
    border-radius: 45px;
    line-height: 2.5;
    text-align: center;
}


/*---------PRIMA SEZIONE----------
----------------------------------*/

/*-------SECONDA SEZIONE----------
----------------------------------*/

.even{
    background-color: white;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}
 p.eventext{
    color: black;
    text-align: left;
    font-size: 20px;
    padding: 20px 0;
}

h3{
    font-size: 45px;
}

.container1{
    display: flex;
    width: 1250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box1{  
    width: 60%;
    padding-left: 90px;
    padding-top: 60px;
}
.box2{ 
    width: 35%;
    text-align: start;
    padding-right: 40px;
    padding-top: 96px;
    padding-left: 15px;
}

/*-------SECONDA SEZIONE----------
----------------------------------*/


/*-------TERZA SEZIONE-------------
----------------------------------*/

.odd{
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    width: 1250px;
    margin-top: 50px;
    margin-bottom: 50px;
}




/*-------TERZA SEZIONE-------------
----------------------------------*/

/*-------QUARTA SEZIONE-------------
----------------------------------*/


   


/*-------QUARTA SEZIONE-------------
----------------------------------*/


/*-------QUINTA SEZIONE-------------
----------------------------------*/

.odd1{
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box3{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 40px;

}
.odd-p{
    width: 950px;
    color: #23272a;

}
.last-image{
    padding-bottom: 20px;
}

.end{
    color: #23272a;
    padding-bottom: 40px;
    font-size: 28px;
    background-image: url(../img/stars.svg);
    background-size: auto;

}

.last{
    color: aliceblue;
    background-color: #7289da;
}

/*-------QUINTA SEZIONE-------------
----------------------------------*/

/*--------FOOTER---------------*/

footer{
    background-color: #23272a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1250px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 30px;
}


.big-col{
    text-align: left;
    background-color: #23272a;
    height: 600px;
    width: 25%;
}
   

h4{
    font-size: 36px;
    color: #7289da;
    padding: 10px 0 ;
}
#bandiera{
    height: 16px;
}
.lang{
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}
.logos{
    text-align: left;
    color: aliceblue;
    padding: 8px;
}
i{
    margin-left:4px ;
    margin-right: 4px;
}

.lil-columns{
    display: flex;
    flex-direction: row;
    padding-top: 20px;

 
     /*END DEBUG*/
}
.col{
    width: calc(100% / 4);
}
ul{
   list-style: none;
   line-height: 3;
   padding: 0 30px;

}
h5{
    color: #7289da;
    font-size: 18px;
}
li{
    font-size: 18px;
    color: aliceblue;
}



/*--------FOOTER---------------*/

footer2{
    background-color: #23272a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}

.sub-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     /*DEBUG*/
    height: 110px ;
     /*END DEBUG*/
    width: 1250px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.footer{
    background-color: #7289da;
    color: aliceblue;
}
