
/* CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* CSS RESET*/



/*---------PRIMA SEZIONE----------
----------------------------------*/
header .topbar{
    background-color: #255ee9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.box{
    background-color: #255ee9;
    width: 1250px;
    height: 50px;
    margin-top: 20px ;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

/* 
.flex-item{
    border: dashed black;
    text-align: center;
    padding-top: 15px;
    height: 50px;
} */

.flex-item.right{
    text-align: start;
    padding-top: 6px;
    padding-left: 5px;
    width: 20%;   
}  
.flex-item.left{
    color: black;
    text-align: end;
    padding-right: 25px;
    width: 20%;   
}  

.flex-item.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-top: 13px;   
}
.link{ 
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    text-decoration: none;
}
.link.button{
    color: black;
    background-color: white;
    height: 35px;
    width: 70px;
    padding-bottom: 6px;
    padding-top: 9px;
    padding-right: 70px;
    padding-left: 23px;
    border-radius: 45px;

    display: inline-block;

}
   
   
.jumbotron{
    background-color: #255ee9 ;
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    background-image: url('../img/jumbo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

.bigger-box{
    padding-top: 100px;
    width: 700px;
    height: 537px;
     
}


h2{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}
p{
    color: aliceblue;
    text-align: center;
    padding: 50px 0;
    font-size: 24px;
}


/*---------PRIMA SEZIONE----------
----------------------------------*/

/*-------SECONDA SEZIONE----------
----------------------------------*/

.even{
    background-color: white;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}
.container1{
    display: flex;
    width: 1250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box1{  
    width: 60%;
    /* DEBUG */
    height: 520px; 
    background-color:#1e90ff ;
    border: dashed black;
    /* END DEBUG */
}
.box2{ 
    width: 40%;
     /*DEBUG*/
    height: 520px;
    background-color:#ffc0cb ;
    border: dashed black;
     /*END DEBUG*/
}

/*-------SECONDA SEZIONE----------
----------------------------------*/


/*-------TERZA SEZIONE-------------
----------------------------------*/

.odd{
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    width: 1250px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.box1{  
    width: 60%;
     /*DEBUG*/
    height: 520px;
    background-color:#1e90ff ;
    border: dashed black;
}
.box2{ 
    width: 40%;
     /*DEBUG*/
    height: 520px;
    background-color:#ffc0cb ;
    border: dashed black;
}

/*-------TERZA SEZIONE-------------
----------------------------------*/

/*-------QUARTA SEZIONE-------------
----------------------------------*/

.box1{  
    width: 60%;
     /*DEBUG*/
    height: 520px;
    background-color:#1e90ff ;
    border: dashed black;
}
.box2{ 
    width: 40%;
     /*DEBUG*/
    height: 520px;
    background-color:#ffc0cb ;
    border: dashed black;

}

/*-------QUARTA SEZIONE-------------
----------------------------------*/


/*-------QUINTA SEZIONE-------------
----------------------------------*/

.odd1{
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box3{
     /*DEBUG*/
    background-color: #228b22;
    width: 1250px;
    height: 925px;
    border: dashed black;
     /*END DEBUG*/
    margin-top: 50px;
    margin-bottom: 50px;

}
/*-------QUINTA SEZIONE-------------
----------------------------------*/

/*--------FOOTER---------------*/

footer{
    background-color: #23272a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1250px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.big-col{
     /*DEBUG*/
    background-color: #f08080;
    height: 600px;
    width: 40%;
    border: dashed white;
     /*END DEBUG*/
    
    
}
.col{
     /*DEBUG*/
    background-color: #20b2aa;
    height: 600px;
    width: 15%;
    border: dashed white;
     /*END DEBUG*/
}
/*--------FOOTER---------------*/

footer2{
    background-color: #23272a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}

.sub-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     /*DEBUG*/
    background-color: #7fffd4;
    height: 110px ;
     /*END DEBUG*/
    width: 1250px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.button{
    color: #ffb6c1;
}
    
